* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;

  display: flex;

  /* display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 30% 30% 20%; */
  justify-items: center;
  align-items: center;
  position: relative;

  background-color: #2f2e30;
}

/* .Player1Container {
  grid-row: 2/2;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.Player2Container {
  grid-row: 2/2;
  grid-column: 3/4;
} */

.Controls {
  position: absolute;
  /* width: 10%; */
  width: auto;
  height: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  
}


.NewGame {
  display: inline-block;
  /* position: relative; */
  cursor: pointer;
  color: rgb(236, 67, 67);
  /* top: -280px;
  right: 50%;
  width: 100px; */
  margin-top: 30%;
  margin-bottom: 100%;
  }
  
  
  .RollDice {
  /* position: relative; */
  cursor: pointer;
  color: rgb(236, 67, 67);
  /* top: -120px;
  right: 50px;
  width: 100px; */
  
  }
  
 .Hold {
  display: block;
  /* position: relative; */
  cursor: pointer;
  color: rgb(236, 67, 67);
  /* top: -220px;
  right: 50px;
  width: 100px; */
  }
  
.DiceContainer {
  /* position: relative; */
  color: rgb(236, 67, 67);
  height: 60px;
  width: 60px;
  /* background-image: url('https://i.imgur.com/EA2qvGZ.png');
  background-size: cover; */
  /* top: -350px;
  right: 30px; */
  margin: 0 auto;
  }

  .Dice {
    height: 60px;
    width: 60px;
  }

  @media (max-width:360px) {


  .NewGame {
    margin-top: 20%;
    }
    
    
    .RollDice {
      margin-top: 0;
    }
    
    
  .DiceContainer {
    height: 40px;
    width: 40px;
    }

    .Dice {
      height: 40px;
      width: 40px;
    }

  }